@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&family=Inter:wght@400;500;600;700&family=Laila:wght@700&family=Open+Sans:wght@400;600;800&family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  width: 100%;
  padding: 31px 145px 200px 136px;
  min-height: 100vh;
  background-image: url(https://images2.alphacoders.com/238/238870.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.home-page nav {
  /* margin-bottom: 381px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  top: 0;
  /* width: 100%; */
  width: 100%;
  background-color: red;
}

.home-page nav .logo-box h1 {
  color: #fff;
  font-family: Laila;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 102.5%;
}

.home-page nav .logo-box h2 {
  color: #fff;
  font-family: Laila;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 102.5%;
}

.home-page nav  ul {
  display: flex;
  justify-content: space-between;
  gap: 69px;
}

.home-page nav  ul li {
  list-style-type: none;
}

.home-page nav  a {
  text-decoration: none;
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-page nav .img-box {
  display: flex;
  align-items: center;
}

.home-page nav div .image-1 {
  width: 36px;
  height: 36px;
}

.home-page nav div .image-2 {
  margin-left: 34px;
  width: 48px;
  height: 48px;
}

.home-page main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.home-page main h3 {
  width: 779px;
  color: #fff;
  font-family: Open Sans;
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.home-page main p {
  margin-top: 57px;
  width: 568px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-page main button {
  margin-top: 39px;
  width: 214px;
  height: 60px;
  border-radius: 10px;
  background: #00a651;
  border: none;
}

.home-page main button a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
